.order-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .order-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 275px;
  }